<html ng-app="app">
<head>
    <title>Angular Masspec Plotter</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<body ng-controller="PlotController">
    <h1>Angular Masspec Plotter</h1>

    <hr />
    <div><button ng-click="randomizeData()">Random Data Set</button></div>


    <h3>Full Mass Spectrum</h3>
    <div style="width: 50%; height: 400px">
        <mass-spec ng-model="data"></mass-spec>
    </div>

    <h3>"Mini" (Thumbnail) Mass Spectrum</h3>
    <div style="width: 100px; height: 100px">
        <mass-spec mini ng-model="data"></mass-spec>
    </div>


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/flot/jquery.flot.js"></script>
    <script src="bower_components/flot/jquery.flot.resize.js"></script>
    <script src="bower_components/flot/jquery.flot.selection.js"></script>
    <script src="angular-masspec-plotter.js"></script>

    <script type="text/javascript">
        //<![CDATA[

        angular.module('app', ['angularMasspecPlotter'])
                .controller('PlotController', function ($scope) {
                    var exampleData = [
                        [
                            [12, 125], [13, 131], [14, 999], [15, 12], [16, 10], [20, 1], [21, 18],
                            [24, 44], [25, 58], [26, 16], [27, 1], [28, 113], [29, 68], [30, 1],
                            [40, 51], [41, 265], [42, 939], [43, 21], [44, 1]
                        ],
                        '12:125 13:131 14:999 15:12 16:10 20:1 21:18 24:44 25:58 26:16 27:1 28:113 29:68 30:1 40:51 41:265 42:939 43:21 44:1',
                        '259.06:13.9 279.03:310.4 279.93:39.8 283.13:237.3 284.16:38.6 303.13:20.6 304.16:14.4 327.03:273.1 328.06:24.4 434.73:6.0 459.01:8.3 476.04:138.4 477.11:12.6 500.29:14.9 501.04:4.9 524.20:30.5 525.29:18.0 660.85:22.0 666.12:7.2 688.33:6.0 700.39:35.4 702.84:14.0 725.44:1100',
                        '247.1:0 224.0:0 126.0:0 122.1:0 97.0:0.138 98.0:0.202 99.1:0.119 105.1:0.033 120.9:0.008 122.1:100 123.1:0.311 124.1:0.015 126.0:11.822 127.1:0.02 134.1:0.012 138.1:0.028 149.0:0.047 161.1:0.13 164.1:0.012 167.1:0.006 175.0:0.006 189.0:0.043 206.1:0.059 206.9:0.028 218.2:0.012 220.0:1.57 223.3:0.126 224.0:50.657 225.1:0.054 230.1:0.009 231.2:0.028 241.2:0.114 245.1:0.02 247.1:5.668 248.1:0.121 252.9:0.015 265.2:0.365 269.0:0.003 274.2:0.01 304.2:0.031 308.1:0.007 312.4:0.009 324.5:0.016 327.2:0.193 328.1:0.149 329.2:0.008 336.9:0.027 343.4:0.007 344.2:0.29 345.1:1.329',
                        [
                            {ion: 10, intensity: 20}, {ion: 12, intensity: 21}, {ion: 13, intensity: 15},
                            {ion: 50, intensity: 20}
                        ]
                    ];

                    $scope.randomizeData = function() {
                        $scope.data = exampleData[Math.floor(Math.random() * exampleData.length)];
                    };

                    $scope.randomizeData();
                });
        //]]>
    </script>
</body>
</html>
